*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    color: black;
}
body{
    overflow-x: hidden;
}
@font-face {
    font-family: "Montserrat";
    src: url("{% static 'Meal_Planner/fonts/Montserrat-Regular.ttf' %}") format("truetype");
    font-weight: 400;
}
#webapp_name{
    border-radius: 150px;
    width: 264px;
    height: 264px;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 15vw;
    position: relative;
    top: -5vh;
    background-color: white;
}
#title{
    height: 60px;
}
nav{
    display: inline-flex;
    width: 40vw;
    height: 8vh;
    border-radius: 50px;
    position: relative;
    top: -2vh;
    left: -4vw;
    z-index: 2;
    background-color: white;
    justify-content: space-evenly;
    margin-left: 4vw;
    align-items: center;
    /*Nav bar needs adjustment*/
    flex-wrap: wrap;
}
.btn{
    text-decoration: none;
}
#active, #phone, #green_text{
    color: #64D370;
}
#phone{
    display: inline-flex;
    background-color: white;
    border-radius: 50px;
    position: relative;
    top: -2vh;
    justify-content: center;
    align-items: center;
    height: 8vh;
    width: 15vw;
    text-decoration: none;
    font-weight: 900;
}


.shadow{
    box-shadow: 1px 1px 25px #5656564D;
}

.active{
    scale: 1.5;
}

button{
    cursor: pointer;
}
.card{
    display: inline;
    margin-top: 500px;
}