*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    color: black;
}
body{
    overflow-x: hidden;
}
@font-face {
    font-family: "Montserrat";
    src: url("{% static 'Meal_Planner/fonts/Montserrat-Regular.ttf' %}") format("truetype");
    font-weight: 400;
}
#webapp_name{
    border-radius: 150px;
    width: 264px;
    height: 264px;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 15vw;
    position: relative;
    top: -5vh;
    background-color: white;
}
#title{
    height: 60px;
}
nav{
    display: inline-flex;
    width: 40vw;
    height: 8vh;
    border-radius: 50px;
    position: relative;
    top: -2vh;
    left: -4vw;
    z-index: 2;
    background-color: white;
    justify-content: space-evenly;
    margin-left: 4vw;
    align-items: center;
}
.btn{
    text-decoration: none;
}
#active, #phone, #green_text{
    color: #64D370;
}
#phone{
    display: inline-flex;
    background-color: white;
    border-radius: 50px;
    position: relative;
    top: -2vh;
    justify-content: center;
    align-items: center;
    height: 8vh;
    width: 15vw;
    text-decoration: none;
    font-weight: 900;
}
section{
    width: 35vw;
    margin-left: 15vw;
}
#webapp_dscrpt{
    font-size: 2vmax;
    margin-top: 8vh;
    /* font-weight: 400; */
    letter-spacing: 2px;
}
.shadow{
    box-shadow: 1px 1px 25px #5656564D;
}
.meal_btn{
    margin-top: 5vh;
    padding: 2vh 5vw 2vh 5vw;
    font-size: 1.5vmax;
    border-radius: 50px;
    border: none;
}
#create_own{
    background-color: #64D370;
    color: white;
    margin-right: 1vw;
}
#random{
    background-color: white;
}
#big_bgcircle{
    background-color:#64D370;
    position: absolute;
    top:-20vh;
    right: -20vw;
    width: 60vw;
    height:60vw;
    border-radius: 70vw;
    z-index: -2;
}
#dish_photo{
    width:45%;
    height: 45%;
    border-radius: 100%;
    border: solid white 2vmax;
    position: absolute;
    top: 35%;
    left: 10%;
}
.circle{
    display: inline-block;
    width: 0.5vmax;
    height: 0.5vmax;
    border-radius: 0.5vmax;
    border: solid #64D370 0.1vmax;
}
#changePic_btns{
    display: none;
    justify-content:space-between;
    align-items: center;
    line-height: 0;
    width: 9vw;
    margin: 20vh 0 0 45.5vw;
}
.changeImg_btn{
    font-size: 1.3vmax;
    color: #64D370;
    background-color: white;
    border: none;
}
.active{
    scale: 1.5;
}
button{
    cursor: pointer;
}