{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meal Planner</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'Meal_Planner/drinks.css' %}"
    />
  </head>
  <body>
    <header>
      <div id="webapp_name" class="shadow" >
        <img
          src="{% static 'Meal_Planner/imgs/chef_hat.png' %}"
          alt="Chefs hat illustration"
          height="25%"
          width="25%"
        />
        <h1 id="title">Meal Planner</h1>
        <em><p id="subtitle">Healthy Lifestyle</p></em>
      </div>
      <nav class="shadow">
        <a href="{% url 'main'%}" class="btn" id="active">Main</a>
        <a href="{% url 'category' 'entries'%}" class="btn">Entries</a>
        <a href="{% url 'category' 'salads'%}" class="btn">Salads</a>
        <a href="{% url 'category' 'appetizers'%}" class="btn">Appetizers</a>
        <a href="{% url 'category' 'desserts'%}" class="btn">Desserts</a>
        <a href="{% url 'category' 'drinks' %}" class="btn">Drinks</a>
      </nav>
      <a href="tel:+1-123-456-7890" class="shadow" id="phone">+1-123-456-7890</a>
    </header>

      <!--A carousel of different drink options to choose from-->
      <div>
        <button class="arrow-left">&#10094;</button>

        <div class="carousel-slide">
          {% for item in items %}
          <div class="card">
            {% if item.image %}
            <img src="{{ item.image.url }}" alt="{{ item.title }}" />
            {% else %}
            <img
              src="{% static 'Meal_Planner/imgs/Fanta.jfif' %}"
              alt="{{ item.title }}"
            />
            {% endif %}
            <div class="card-info">
              <h2>{{ item.title }}</h2>
              <p>{{ item.description }}</p>
              <p>Proteins: {{ item.proteins }}g</p>
              <p>Fats: {{ item.fats }}g</p>
              <p>Carbohydrates: {{ item.carbohydrates }}g</p>
            </div>
          </div>
          {% empty %}
          <p>No items found for this category.</p>
          {% endfor %}
        </div>
        <button class="arrow-right">&#10095;</button>
      </div>
    <script src="{% static 'Meal_Planner/drinks.js' %}" defer></script>
  </body>
</html>
