{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meal Planner</title>
    <link rel="stylesheet" type="text/css" href="{% static 'Meal_Planner/style.css' %}" />
    <link rel="shortcut icon" href="/static/Meal_Planner/imgs/chef_hat.png" type="image/x-icon"> <!--Was causing error w/o this-->
  </head>
  <body>
      <header>
      <div id="webapp_name" class="shadow" >
        <img
          src="{% static 'Meal_Planner/imgs/chef_hat.png' %}"
          alt="Chefs hat illustration"
          height="25%"
          width="25%"
        />
        <h1 id="title">Meal Planner</h1>
        <em><p id="subtitle">Healthy Lifestyle</p></em>
      </div>
      <nav class="shadow">
        <a href="{% url 'main'%}" class="btn" id="active">Main</a>
        <a href="{% url 'category' 'entries'%}" class="btn">Entries</a>
        <a href="{% url 'category' 'salads'%}" class="btn">Salads</a>
        <a href="{% url 'category' 'appetizers'%}" class="btn">Appetizers</a>
        <a href="{% url 'category' 'desserts'%}" class="btn">Desserts</a>
        <a href="{% url 'category' 'drinks' %}" class="btn">Drinks</a>
      </nav>
      <a href="tel:+1-123-456-7890" class="shadow hyper">+1-123-456-7890</a>
      <a href="#" class="shadow hyper" id="login">Log In</a>    </header>
    <section>
      <h1 id="webapp_dscrpt">
        Meal Planner <span id="green_text">helps you track</span> calories and macros for smarter eating.
      </h1>
      <button class="meal_btn shadow" id="create_own">Create</button>
      <button class="meal_btn shadow" id="random">Random</button>
    </section>
    <div id="big_bgcircle" class="shadow">
      <img src="{% static 'Meal_Planner/imgs/main_startPhoto.jpg' %}" alt="" id="dish_photo">
    </div>
    <div id="changePic_btns">
      <button id="previous" class="changeImg_btn"><</button>
      <span class="circle" id="circle1"></span>
      <span class="circle" id="circle2"></span>
      <span class="circle" id="circle3"></span>
      <span class="circle" id="circle4"></span>
      <span class="circle" id="circle5"></span>
      <button id="next" class="changeImg_btn">></button>
    </div> <br><br>


    <div id = "FormSection" class = "FormSection">

      <div class = "form_container">
      
      <form id = "LoginForm" method = "post" action = "{% url 'login' %}" class = "form_toggle "> <!-- Default visible form --> <!--Meal_Planner == Users-->
        {% csrf_token %}
        <span title id = "loginTitle">Log into Meal Planner</span>
        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        <input type = "text" name = "username" id = "username" placeholder="Enter Your Username...">
        <input type = "password" name = "password" id = "password" placeholder="Enter Your Password...">
        {{ request.user.is_superuser }}
        <!-- {{ login_form.as_p }} -->
      <button class = "form_submit" id = "LoginButton"  type = "submit">Log In</button> 
      <span class = "FormWording" id = "newRegisterText">Don't have an account? Register here</span>
      <button id = "newRegister_btn" class="newRegister_btn" type = "button" onClick = "toggleForms()" >Create new account</button>
      </form>

      <form id = "RegistrateForm" method = "post" action = "{% url 'register'%}"  class = "form_toggle hidden" > 
        {% csrf_token %}
        <span title id = "registerTitle">Create a new account</span>
        <input class = "form_input" type = "text" name = "first_name" id = "first_name" placeholder="Enter Your First Name..."> 
        <input class = "form_input" type = "text" name = "last_name" id = "last_name" placeholder="Enter Your Last Name..."> 
        <input class = "form_input" type = "email" name = "email" id = "email" placeholder="Enter Your Email..."> 
        <input class = "form_input" type = "text" name = "username_r" id = "username" placeholder="Create a Username..."> 
        <input class = "form_input" type = "password" name = "password_r" id = "password" placeholder="Create a Password..."> 
        <input class = "form_input" type = "password" name = "confirm_password" id = "confirm_password" placeholder="Confirm Your Password..."> 
        <span class = "FormWording" id = "terms">By clicking Register, you agree to our Terms and Conditions. </span>

         <button class = "form_submit" id = "RegisterButton"  type = "submit" form = "RegistrateForm">Register</button> 
        <a href="#" id = "AlreadyAccount" class = "FormWording" type = "button" onClick = "toggleForms(); return false;">Already have an account?</a>        
        {% if error %}
        <p style="color:red;">{{ error }}</p> 
        {% endif %}
        {% if success %}
        <p style="color:green;">{{ success }}</p>
        {% endif %}
      </form>

      
      </div>
    </div>

    <script src="{% static 'Meal_Planner/script.js' %}"></script>
  </body>
</html>
