{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meal Planner</title>
    <link rel="stylesheet" type="text/css" href="{% static 'Meal_Planner/style.css' %}" />
    <link rel="shortcut icon" href="/static/Meal_Planner/imgs/chef_hat.png" type="image/x-icon"> <!--Was causing error w/o this-->
  </head>
  <body>
    <div id = "shopping_cart" class = "sidebar">

      <div id ="cart_header">

        <div id = "cart_close_btn">
          <span class="closebtn" onclick="closeCart()">&times;</span>
        </div>

        <div id = "cart_title"> 
          <h3 id="cart_header_title">
          <span>Your Cart</span>
        </h3>
        </div>
        
      </div>
        {% if not groupped_items %}
          <div id="cart_items">
            <p>Your cart is empty.</p>
          </div>
        {% else %}
{% for category, items in groupped_items.items %}
    <div id="selected_cards">
        <div id="selected_{{ category }}">
            <h3>Selected {{ category }}:</h3>

            {% for title, quantity in items.items %}
                <h2>{{ title }} X {{ quantity }}</h2>
            {% endfor %}
        </div>
    </div>
{% endfor %}
        <div id = "cart_nutrients">
          <h3>Nutritional Info:</h3>
          <p id="total_proteins"><strong>Total Proteins: </strong> {{totals.proteins}} g</p>
          <p id="total_fats"><strong>Total Fats: </strong> {{totals.fats}} g</p>
          <p id="total_carbs"><strong>Total Carbohydrates: </strong> {{totals.carbs}} g</p>
        </div>
        <button id ="savemeal_btn">Save Meal</button>
        <a href="{% url 'clear_cart' %}">Clear Cart</a>
        {% endif %}
      </div>

      <div id = "overlay_background" class = "overlay_background"></div>
      
      <header>
      <div id="webapp_name" class="shadow" >
        <img
          src="{% static 'Meal_Planner/imgs/chef_hat.png' %}"
          alt="Chefs hat illustration"
          height="25%"
          width="25%"
        />
        <h1 id="title">Meal Planner</h1>
        <em><p id="subtitle">Healthy Lifestyle</p></em>
      </div>
      <nav class="shadow">
        <a href="{% url 'main'%}" class="btn" id="active">Main</a>
        <a href="{% url 'category' 'entries'%}" class="btn">Entries</a>
        <a href="{% url 'category' 'salads'%}" class="btn">Salads</a>
        <a href="{% url 'category' 'appetizers'%}" class="btn">Appetizers</a>
        <a href="{% url 'category' 'desserts'%}" class="btn">Desserts</a>
        <a href="{% url 'category' 'drinks' %}" class="btn">Drinks</a>
      </nav>
      <!-- <a href="tel:+1-123-456-7890" class="shadow hyper">+1-123-456-7890</a> -->
          {% if request.user.is_authenticated %}
          <nav class = "shadow hyper usernav" id ="user_nav">
          <a href="{% url 'logout' %}" id="login">Log Out </a> 
          <span class = "vertical_divider"></span>

          <a onclick = "openCart()" id="cart_btn"> 🛒 </a>

          </nav>
          
          {% else %}
          <a href="{% url 'main' %}#FormSection" class="shadow hyper" id="login"> Log In </a>
          {% endif%}   
          
          
      </header>

      

    <section>
      <h1 id="webapp_dscrpt">
        Meal Planner <span id="green_text">helps you track</span> calories and macros for smarter eating.
      </h1>
      <a href="{% url 'category' 'entries'%}"><button class="meal_btn shadow" id="create_own">Create</button></a>
      <button class="meal_btn shadow" id="random">Random</button>
    </section>

<main>
<div id="big_bgcircle" class="shadow">
      <img src="{% static 'Meal_Planner/imgs/main_startPhoto.jpg' %}" alt="" id="dish_photo">
    </div>

    <div id="changePic_btns">
      <button id="previous" class="changeImg_btn"><</button>
      <span class="circle" id="circle1"></span>
      <span class="circle" id="circle2"></span>
      <span class="circle" id="circle3"></span>
      <span class="circle" id="circle4"></span>
      <span class="circle" id="circle5"></span>

      <button id="next" class="changeImg_btn">></button>
    </div> <br><br>

</main>

    

    <!-- <main>
      <div class="card shadow">
        
        <img src="MealPlanner\media\foodCard_images\40ff98ca949efc6f26cbc0233c78e87fce3eabaa_LA3s04q.jpg" alt="Food_cardTest" width="80%" height="60%"/>
        
        <div class = "card_content" >
          <h2 class="item_title"> Food Meal</h2>
          <p class = "item_desc">This is a test</p>

          <div class = "nutrient_info">
            <p><strong>Proteins: </strong>      50 g</p>
            <p><strong>Fats: </strong>          20 g</p>
            <p><strong>Carbohydrates: </strong> 30 g</p>
          </div>
        </div>
        
        <button class="order_btn">Select</button>

      </div>
    </main> -->


    <div id = "FormSection" class = "FormSection">
      <div class = "form_container">
      
      <form id = "LoginForm" method = "post" action = "{% url 'login' %}" class = "{% if show_register %}hidden{% endif %} "> <!-- Default visible form -->
        {% csrf_token %}
        <span title id = "loginTitle">Log into Meal Planner</span>

        <input type = "text" name = "username" id = "username" placeholder="Enter Your Username...">
        <input type = "password" name = "password" id = "password" placeholder="Enter Your Password...">
      <button class = "form_submit" id = "LoginButton"  type = "submit">Log In</button> 
      <span class = "FormWording" id = "newRegisterText">Don't have an account? Register here</span>
      <button id = "newRegister_btn" class="newRegister_btn" type = "button" onClick = "toggleForms()" >Create new account</button>
      </form>
        {% for message in messages %}
            <p id="{{message.tags}}" class="message">{{ message }}</p>
        {% endfor %}
      <form id = "RegistrateForm" method = "post" action = "{% url 'register'%}"  class = "form_toggle {% if not show_register %}hidden{% endif %}" > 
        {% csrf_token %}
        <span title id = "registerTitle">Create a new account</span>
        <input class = "form_input" type = "text" name = "first_name" id = "first_name" placeholder="Enter Your First Name..."> 
        <input class = "form_input" type = "text" name = "last_name" id = "last_name" placeholder="Enter Your Last Name..."> 
        <input class = "form_input" type = "email" name = "email" id = "email" placeholder="Enter Your Email..."> 
        <input class = "form_input" type = "text" name = "username_r" id = "username_r" placeholder="Create a Username..."> 
        <input class = "form_input" type = "password" name = "password_r" id = "password_r" placeholder="Create a Password..."> 
        <input class = "form_input" type = "password" name = "confirm_password" id = "confirm_password" placeholder="Confirm Your Password..."> 
        <span class = "FormWording" id = "terms">By clicking Register, you agree to our Terms and Conditions. </span>
        <button class = "form_submit" id = "RegisterButton"  type = "submit" form = "RegistrateForm">Register</button> 
        <a href="#" id = "AlreadyAccount" class = "FormWording" type = "button" onClick = "toggleForms(); return false;">Already have an account?</a>        
      </form>

      
        </div>
       </div>

        </div>

      </div>
    <script>
// ------------------ Random Meal ------------------- //
const randomBtn = document.getElementById("random");
const imageToInsert = document.getElementById("dish_photo");
const next = document.getElementById("next");
const previous = document.getElementById("previous");

let images = [];   
let index = 0;    

randomBtn.addEventListener("click", function() {
    fetch("{% url 'random_meal' %}")
        .then(response => response.json())
        .then(data => {
            if (data.result.length > 0) {

                images = data.result;   
                index = 0;             

                updateImage();          
            }
        })
        .catch(error => {
            alert("Error: " + error);
        });
});

function updateImage() {
    let imagePath = '/media/' + images[index];
    imageToInsert.src = imagePath;
}

next.addEventListener("click", function () {
    if (images.length === 0) return;
    index = (index + 1) % images.length;  
    updateImage();
});


previous.addEventListener("click", function () {
    if (images.length === 0) return;
    index = (index - 1 + images.length) % images.length; 
    updateImage();
});
    </script>
    <script src="{% static 'Meal_Planner/script.js' %}"></script>
  </body>
</html>
