{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meal Planner</title>
    <link rel="stylesheet" type="text/css" href="{% static 'Meal_Planner/common_base.css' %}"/>
     <link rel="shortcut icon" href="/static/Meal_Planner/imgs/chef_hat.png" type="image/x-icon">
  </head>
  <body>
    <header>
      <div id="webapp_name" class="shadow">
        <img
          src="{% static 'Meal_Planner/imgs/chef_hat.png' %}"
          alt="Chefs hat illustration"
          height="25%"
          width="25%"
        />
        <h1 id="title">Meal Planner</h1>
        <em><p id="subtitle">Healthy Lifestyle</p></em>
      </div>
      <nav class="shadow">
        <a href="{% url 'main'%}" class="btn">Main</a>
        <a href="{% url 'category' 'entries'%}" class="btn">Entries</a>
        <a href="{% url 'category' 'salads'%}" class="btn" id="active">Salads</a>
        <a href="{% url 'category' 'appetizers'%}" class="btn">Appetizers</a>
        <a href="{% url 'category' 'desserts'%}" class="btn">Desserts</a>
        <a href="{% url 'category' 'drinks' %}" class="btn">Drinks</a>
      </nav>
      <a href="tel:+1-123-456-7890" class="shadow hyper">+1-123-456-7890</a>
      {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}" class="shadow hyper" id="login"> Log Out </a>
      {% else %}
        <a href="{% url 'main' %}#FormSection" class="shadow hyper" id="login"> Log In </a>
      {% endif%}
        <select class="shadow hyper" id="filter">
          <option>Regular</option>
          <option>Gluten Free</option>
          <option>Dairy Free</option>
          <option>Nut Free</option>
          <option>Vegetarian</option>
        </select>
      </header>

    <main>
      {% for item in items %}
      {% if item.category == category%}
      <div class="card shadow" 
           data-gluten="{{ item.gluten_free }}"
           data-dairy="{{ item.dairy_free }}"
           data-nut="{{ item.nut_free }}"
           data-vegetarian="{{ item.vegetarian }}">
        {% if item.image %}
        <img src="{{ item.image.url }}" alt="{{ item.title }}" width="80%" height="60%"/>
        {% endif %}
        
        <div class = "card_content" >
          <h2 class="item_title"> {{ item.title }}</h2>
          <p class = "item_desc">{{ item.description }}</p>

          <div class = "nutrient_info">
            <p><strong>Proteins: </strong> {{ item.proteins }}g</p>
            <p><strong>Fats: </strong> {{ item.fats }}g</p>
            <p><strong>Carbohydrates: </strong> {{ item.carbohydrates }}g</p>
          </div>
        </div>


        <a class="order_a" href="{% url 'add_cart' category=item.category primary_key=item.pk %}">Select</a>
        {% if request.user.is_superuser %}
        <a href="{% url 'delete_card' category=item.category primary_key=item.pk %}" >Delete</a>
        <a href="{% url 'edit_card' category=item.category primary_key=item.pk %}" >Edit</a>
        {% endif %}

      </div>
      {% endif %}
      {% empty %}
      <p>No items found for this category.</p>
      {% endfor %}
      {% if user.is_superuser %}
      <div class="card shadow">
        <a href="{% url 'add_card' category=category%}"><button>+</button></a>
      </div>
      {% endif %}
    </main>
    <script src="{% static 'Meal_Planner/filter.js' %}"></script>
  </body>
</html>
